<section>
    <div class="weather">

        <div>
            <p>{{ globalWeather.defaultWeather.getCityName() }}</p>
            <p>{{ globalWeather.defaultWeather.getTime() }}</p>
            <h1 class="symbol">{{ globalWeather.defaultWeather.getDescription() }}</h1>
            <p>{{ globalWeather.defaultWeather.getTemp() }}</p>
        </div>
        <form method="get">
            <input type="text" name="s" placeholder="Search City">
            <button type="submit">Search</button>
        </form>
        <div class="searched-weather">
            <p>{{ globalWeather.searchedWeather.getCityName() }}</p>
            <h1 class="symbol">{{ globalWeather.searchedWeather.getDescription() }}</h1>
            <p>{{ globalWeather.searchedWeather.getTemp() }}</p>
        </div>
    </div>
</section>
